body {
    font-family: 'Cormorant Garamond', serif;
    background-color: lightsalmon;
    font-size: 20px; 
    text-align: center;
}

.button-name {
    display: inline-block;
    padding: 16px 32px;
    margin: 4px 2px;
    background-color: #a2b3bd;
    border: 3px solid #4b88ae;
    border-radius: 5px;
    text-align:center;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    cursor: pointer;
}